*{
    margin: 0;
    padding: 0;
}

#banner{
    background: linear-gradient(rgba(0,0,0,0.5),#009688), url(/Barber_Shop_img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}